Task1_0529. 주어진 DataFrame에서 'Category'별로 그룹화하여 각 그룹의 'Value' 열의 평균을 계산하세요.

In [ ]:
import pandas as pd

# 데이터프레임 생성
df = pd.DataFrame({
    "Category": ["A", "B", "A", "B", "C", "A", "C", "B", "A", "C"],
    "Value": [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
})

In [ ]:
g1 = df.groupby('Category')
mean_g = g1.mean()
print(mean_g)

              Value
Category
A         47.500000
B         46.666667
C         73.333333

In [ ]:
# 강사님 풀이
grouped_mean = df.groupby('Category')['Value'].mean().reset_index()
print(grouped_mean)

  Category      Value
0        A  47.500000
1        B  46.666667
2        C  73.333333

Task2_0529. 주어진 DataFrame에서 'Category'별로 그룹화하여 각 그룹의 'Value' 열의 누적 합을 계산하세요.

In [ ]:
# 'Category' 별로 그룹화하여 'Value'의 누적 합 계산
df['Cumulative_Sum'] = df.groupby('Category')['Value'].cumsum()
print(df)

  Category  Value  Cumulative_Sum
0        A     10              10
1        B     20              20
2        A     30              40
3        B     40              60
4        C     50              50
5        A     60             100
6        C     70             120
7        B     80             140
8        A     90             190
9        C    100             220

Task3_0529. 주어진 DataFrame에서 'Category'별로 그룹화하여 각 그룹의 'Value' 열의 합계, 평균, 최대값, 최소값을 계산하세요.

In [ ]:
agg_g = g1.agg(['sum','mean','max','min']).reset_index()
print(agg_g)

  Category Value
             sum       mean  max min
0        A   190  47.500000   90  10
1        B   140  46.666667   80  20
2        C   220  73.333333  100  50

Task4_0529. 주어진 df에서 category별로 가장 자주 등장하는 value를 찾아서 새로운 열의 값으로 적용한 후 출력하세요.

In [ ]:
import pandas as pd

# 예제 데이터프레임 생성
data = {
    'Category': ['A', 'A', 'B', 'B', 'A', 'B', 'B', 'A', 'B', 'A'],
    'Value': [10, 15, 10, 20, 10, 30, 50, 10, 20, 15]
}
df = pd.DataFrame(data)

In [ ]:
mode_values = df.groupby('Category')['Value'].agg(lambda x: x.mode().iloc[0])

df['Most_Frequent_Value'] = df['Category'].map(mode_values)
print(df)

  Category  Value  Most_Frequent_Value
0        A     10                   10
1        A     15                   10
2        B     10                   20
3        B     20                   20
4        A     10                   10
5        B     30                   20
6        B     50                   20
7        A     10                   10
8        B     20                   20
9        A     15                   10

Task5_0529. 주어진 데이터프레임에서 각 그룹별로 누적 평균을 계산하여 새로운 열로 추가한 후 출력하세요. 단 누적 평균은 그룹 내에서 각 요소까지의 평균을 계산한 것임

In [ ]:
def expanding_mean(x) :
  return round(x.expanding().mean(),2)
df['Expanding_Mean'] = df.groupby('Category')['Value'].transform(expanding_mean)
df

  Category  Value  Most_Frequent_Value  Expanding_Mean
0        A     10                   10           10.00
1        A     15                   10           12.50
2        B     10                   20           10.00
3        B     20                   20           15.00
4        A     10                   10           11.67
5        B     30                   20           20.00
6        B     50                   20           27.50
7        A     10                   10           11.25
8        B     20                   20           26.00
9        A     15                   10           12.00

Task6_0529. 주어진 Series의 각 값에 대해 2배로 변환하는 함수를 적용하여 값을 변환하세요.

In [ ]:
import pandas as pd

# Series 생성
s = pd.Series([1, 2, 3, 4, 5])
new_s = s.map(lambda x:x*2)
print(s.values)
print(new_s.values)

[1 2 3 4 5]
[ 2  4  6  8 10]

Task7_0529. 주어진 DataFrame의 특정 열에 대해 map을 사용하여 등급을 부여하는 함수를 적용하여 변환을 수행하세요.

In [1]:
import pandas as pd

# 데이터프레임 생성
df = pd.DataFrame({
    "Name": ["Alice", "Bob", "Charlie", "David", "Eve"],
    "Score": [85, 90, 95, 80, 75]
})

# 점수를 학점으로 변환하는 함수 정의
def score_to_grade(score):
    if 95 <= score <= 100:
        return 'A+'
    elif 90 <= score < 95:
        return 'A'
    elif 85 <= score < 90:
        return 'B+'
    elif 80 <= score < 85:
        return 'B'
    elif 75 <= score < 80:
        return 'C+'
    else:
        return 'C'

# map 함수를 사용하여 점수를 학점으로 변환
df['Grade'] = df['Score'].map(score_to_grade)

print(df)

      Name  Score Grade
0    Alice     85    B+
1      Bob     90     A
2  Charlie     95    A+
3    David     80     B
4      Eve     75    C+

Task8_0529. 주어진 DataFrame의 특정 열에 대해 각 요소에 제곱하는 함수를 적용하여 새로운 열을 생성하세요.

In [4]:
import pandas as pd

# 데이터프레임 생성
df = pd.DataFrame({
    "Numbers": [1, 2, 3, 4, 5]
})
df['Squared'] = df['Numbers'].map(lambda x:x*x)
print(df)

   Numbers  Squared
0        1        1
1        2        4
2        3        9
3        4       16
4        5       25

Task9_0529. 주어진 DataFrame의 여러 열에 대해 각 열의 값을 합하는 함수를 적용하여 새로운 열을 생성한 후 출력하세요.

In [5]:
import pandas as pd

# 데이터프레임 생성
df = pd.DataFrame({
    "A": [1, 2, 3, 4, 5],
    "B": [10, 20, 30, 40, 50]
})
# A 와 B 의 합을 계산하는 함수 적용
df['A+B'] = df.apply(lambda row: row['A'] + row['B'], axis=1)

print(df)

   A   B  A+B
0  1  10   11
1  2  20   22
2  3  30   33
3  4  40   44
4  5  50   55

Task10_0529. 주어진 DataFrame의 각 요소에 대해 10보다 크면 2배, 그렇지 않으면 원래의 수를 반영하는 함수를 적용하여 값을 변환하세요.

In [6]:
import pandas as pd

# 데이터프레임 생성
df = pd.DataFrame({
    "Values": [5, 10, 15, 20, 25]
})
print(df, '\n')
# 조건에 따른 함수 적용 (10보다 크면 2배, 그렇지 않으면 원래의 수를
df['Transformed'] = df['Values'].apply(lambda x: x * 2 if x > 10 else x)

# 결과출력
print(df)

   Values
0       5
1      10
2      15
3      20
4      25

   Values  Transformed
0       5            5
1      10           10
2      15           30
3      20           40
4      25           50

Task11_0529. 주어진 DataFrame에서 특정 열을 그룹화한 후 각 그룹에 대해 그룹별로 평균 값을 계산하는 함수를 적용하여 새로운 열을 생성하여 출력하세요.

In [9]:
import pandas as pd

# 데이터프레임 생성
df = pd.DataFrame({
    "Category": ["A", "B", "A", "B", "C", "A", "C", "B", "A", "C"],
    "Value": [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
})

In [15]:

# 그룹별로 평균 값을 계산하고 새로운 열 생성
df['Group_Mean'] = df.groupby('Category')['Value'].transform('mean')

# 결과출력
print(df)

  Category  Value  Group_Mean
0        A     10   47.500000
1        B     20   46.666667
2        A     30   47.500000
3        B     40   46.666667
4        C     50   73.333333
5        A     60   47.500000
6        C     70   73.333333
7        B     80   46.666667
8        A     90   47.500000
9        C    100   73.333333

Task12_0529. 주어진 DataFrame의 특정 열에 대해 제곱과 제곱근을 계산하는 함수들을 동시에 적용하여 새로운 열을 생성한 후 출력하세요.

In [22]:
import pandas as pd

# 데이터프레임 생성
df = pd.DataFrame({
    "Numbers": [1, 2, 3, 4, 5]
})

In [19]:
# 여러 함수를 적용하여 새로운 열 생성 (제곱과 제곱근)
df['Squared'] = df['Numbers'].apply(lambda x:x**2)
df['Squared_Root'] = df['Numbers'].apply(lambda x:x**0.5)
print(df)

   Numbers  Squared  Squared_Root
0        1        1      1.000000
1        2        4      1.414214
2        3        9      1.732051
3        4       16      2.000000
4        5       25      2.236068

In [ ]:
import pandas as pd
import numpy as np

# 데이터프레임 생성
df = pd.DataFrame({
    "Numbers": [1, 2, 3, 4, 5]
})

def pow(x):
  return x**2

def sqrt(x):
  return np.sqrt(x)

res = df.Numbers.agg([pow, sqrt])
df = pd.concat([df,res], axis=1)
df

In [ ]:
def SQ_SQRT(x):
  return round(x*x,2), round(x**0.5,2)

# Option1
df[['SQ', 'SQRT']] =df['Numbers'].transform(lambda x: pd.Series(SQ_SQRT(x)))        ## Apply나 Transform이나 동일
print(df,"\n")

# Option2
df[['SQ', 'SQRT']] = df['Numbers'].apply(lambda x: (round(x*x,2), round(x**0.5,2))).apply(pd.Series)
print(df,"\n")

Task13_0529. 주어진 DataFrame의 각 요소에 대해 제곱하는 함수를 적용하여 값을 변환하세요.

In [20]:
import pandas as pd

# 데이터프레임 생성
df = pd.DataFrame({
    "A": [1, 2, 3],
    "B": [4, 5, 6],
    "C": [7, 8, 9]
})

In [21]:
# 각 요소에 대해 제곱하는 함수 적용
df_transformed = df.apply(lambda x: x**2)
print(df,'\n')
print(df_transformed)

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

   A   B   C
0  1  16  49
1  4  25  64
2  9  36  81

Task14_0529. 주어진 데이터프레임에서 각 그룹별로 Value 열을 표준화하여 새로운 열로 추가하여 출력하세요.(apply, transform 두가지 적용)

In [24]:
import pandas as pd

# 예제 데이터프레임 생성
data = {
    'Category': ['A', 'A', 'B', 'B', 'A', 'B', 'B', 'A', 'B', 'A'],
    'Value': [10, 15, 10, 20, 10, 30, 50, 10, 20, 15]
}

df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)

Original DataFrame:
  Category  Value
0        A     10
1        A     15
2        B     10
3        B     20
4        A     10
5        B     30
6        B     50
7        A     10
8        B     20
9        A     15

In [30]:
# 그룹별 표준화하는 함수 정의
def z_score(x) :
  return round(( x - x.mean() ) / x.std(),2)

In [27]:
# apply를 사용하여 그룹별 표준화 (추가 처리 필요)
z_scored = df.groupby('Category')['Value'].apply(z_score)
print(z_scored)

# 하지만 기존 df의 형식대로 출력이 되지않음. 이럴때는
# .reset_index(level=0, Drop=True)
# .apply 말고 .transform 사용
# groupby('Column', group_keys=False)

Category
A         0   -0.730297
          1    1.095445
          4   -0.730297
          7   -0.730297
          9    1.095445
B         2   -1.055009
          3   -0.395628
          5    0.263752
          6    1.582513
          8   -0.395628
Name: Value, dtype: float64

In [31]:
## Option-1 Using TRANSFORM
df["그룹평균"]=df.groupby("Category")["Value"].transform(lambda x: round(x.mean(),2))
df["STD"]=df.groupby("Category")["Value"].transform(lambda x: round(x.std(),2))
df["Z-Score"]=df.groupby("Category")["Value"].transform(z_score)
print(df,'\n')

## Option-2 Using MAP

CatMean=round(df.groupby("Category")["Value"].mean(),2)
CatStd=round(df.groupby("Category")["Value"].std(),2)

df["그룹평균2"]=df["Category"].map(CatMean)
df["STD2"]=df["Category"].map(CatStd)
df["Z-Score2"] = round((df["Value"] - df["그룹평균2"]) / df["STD2"],2)
print(df,'\n')

## Option-3 Using APPLY
def M_S_Z(df_g):
    df_g['그룹평균3'] = round(df_g["Value"].mean(),2)
    df_g['STD3'] = round(df_g["Value"].std(),2)
    df_g['Z-Score3'] = round((df_g["Value"] - df_g["그룹평균3"]) / df_g['STD3'],2)
    return df_g
df = df.groupby('Category', group_keys=False).apply(M_S_Z)

  Category  Value  그룹평균    STD  Z-Score  그룹평균2   STD2  Z-Score2  그룹평균3   STD3  \
0        A     10  12.0   2.74    -0.73   12.0   2.74     -0.73   12.0   2.74
1        A     15  12.0   2.74     1.10   12.0   2.74      1.09   12.0   2.74
2        B     10  26.0  15.17    -1.06   26.0  15.17     -1.05   26.0  15.17
3        B     20  26.0  15.17    -0.40   26.0  15.17     -0.40   26.0  15.17
4        A     10  12.0   2.74    -0.73   12.0   2.74     -0.73   12.0   2.74
5        B     30  26.0  15.17     0.26   26.0  15.17      0.26   26.0  15.17
6        B     50  26.0  15.17     1.58   26.0  15.17      1.58   26.0  15.17
7        A     10  12.0   2.74    -0.73   12.0   2.74     -0.73   12.0   2.74
8        B     20  26.0  15.17    -0.40   26.0  15.17     -0.40   26.0  15.17
9        A     15  12.0   2.74     1.10   12.0   2.74      1.09   12.0   2.74

   Z-Score3
0     -0.73
1      1.09
2     -1.05
3     -0.40
4     -0.73
5      0.26
6      1.58
7     -0.73
8     -0.40
9      1.09

  Category  Value  그룹평균    STD  Z-Score  그룹평균2   STD2  Z-Score2  그룹평균3   STD3  \
0        A     10  12.0   2.74    -0.73   12.0   2.74     -0.73   12.0   2.74
1        A     15  12.0   2.74     1.10   12.0   2.74      1.09   12.0   2.74
2        B     10  26.0  15.17    -1.06   26.0  15.17     -1.05   26.0  15.17
3        B     20  26.0  15.17    -0.40   26.0  15.17     -0.40   26.0  15.17
4        A     10  12.0   2.74    -0.73   12.0   2.74     -0.73   12.0   2.74
5        B     30  26.0  15.17     0.26   26.0  15.17      0.26   26.0  15.17
6        B     50  26.0  15.17     1.58   26.0  15.17      1.58   26.0  15.17
7        A     10  12.0   2.74    -0.73   12.0   2.74     -0.73   12.0   2.74
8        B     20  26.0  15.17    -0.40   26.0  15.17     -0.40   26.0  15.17
9        A     15  12.0   2.74     1.10   12.0   2.74      1.09   12.0   2.74

   Z-Score3
0     -0.73
1      1.09
2     -1.05
3     -0.40
4     -0.73
5      0.26
6      1.58
7     -0.73
8     -0.40
9      1.09